.inputan {
    padding: 10px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 400px;
}

.inputan:focus {
    outline: none;
    border-color: #007BFF;
}